.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 4px #800080;
    color: rgb(255, 255, 255);
}

.feature-label {
    font-family: Oswald, sans-serif;
    color: #7b7b9b;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 0 3px #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.feature-tooltip {
    font-family: Oswald, sans-serif;
    color: #7b7b9b;
    font-size: 14px;
    font-weight: lighter;
}

.ui-tooltip-content {
    font-family: Oswald, sans-serif;
}

.glyphicon-one-fine-smaller-dot:before {
    content: "\25cf";
    font-size: 1em;
}

.glow-effect {
    color: rgba(224, 99, 29, 0.6);
    text-shadow: 0 0 10px rgb(227, 237, 0);
}

.subtitle {
    color: rgba(255,255,255,0.95);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.hatchery {
    color: rgba(165, 191, 21, 1);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-size: 50px;
}

.stakeholders {
    color: #C9F5F6;
}

.projects {
    color: #C9F5F6;
}

.arag {
    z-index: -1;
}

.hatchery-warning {
    color: rgb(227, 237, 0);
    text-shadow: 0 0 3px rgb(0, 0, 0);
    font-size: 50px;
}

.stakeholders-warning {
    color: rgba(224, 99, 29, 0.3);
}

@keyframes fade {
    from { opacity: 0.5; }
}

.blinking {
    animation: fade 0.25s infinite alternate;
}

.little {
    font-size: 12px;
}

.tooltip {
    font-family: 'Oswald', sans-serif;
}

#about-title {
    text-align: center;
}

.legend-custom {
    position: relative;
    background-color: transparent;
    width: 100%;
    font-size: 18px !important;
    color: transparent;
    font-family: 'Oswald', sans-serif;
    box-shadow: none;
    border-radius: 0;
}

.legend-custom p {
    line-height: 30px;
    font-size: 18px;
}

.legend-custom p i {
    line-height: 30px;
    font-size: 18px;
}

.legend-custom i {
    width: 18px;
    height: 18px;
    opacity: 0.9;
    margin-top: 5px;
    margin-right: 5px
}

.center {
    position: relative;
    bottom: 20px;
}


.credit {
    position: fixed;
    color: rgba(255,255,255,0.95);
    right: 5px;
    top: 5px;
}

.credit p {
    font-size:12px;
    color: rgba(255,255,255,0.95);
    text-shadow: 1px 1px 0 #000;
    /*1px -1px 1px #000,*/
    /*-1px 1px 1px #000,*/
    /*1px 1px 1px #000;*/
    margin-top: 0;
}

.logos {
    max-width: 100%;
    max-height: 75%;
}

.navbar-legend-row {
    background: transparent;
    margin-left: 5%;
    padding-right: 15px;
    position: relative;
    top: 4px;
}

i.navbar-legend-row {
    opacity: 0.9;
    background: white;
    alignment: center;
    padding-top: 7px;
    padding-left: 12px;
}

.navbar-legend-row2 {
    background: transparent;
    margin-left: 5%;
    padding-right: 12px;
    position: relative;
    top: 4px;
}

.navbar-legend {
    font-size: 18px;
}

i.navbar-legend-row2 {
    opacity: 0.9;
    background: white;
    alignment: center;
    padding-top: 7px;
    padding-left: 10px;
}

div.row span {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

section > p {
    font-size: 24px;
}

.caption {
    font-size: 1vw;
}

.map {
    padding: 10px;
}

p a {
    color: black;
    font-family: Oswald, sans-serif;
    font-size: 1vw;
    text-decoration: none;
}

p a:hover {
    color: black;
    font-family: Oswald, sans-serif;
    font-size: 1vw;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
    background-color: rgba(0, 7, 10, 0.75);
    transition: all 0.05s ease-in-out;
}

.overlay:hover {
    opacity: 0.8;
}

.text {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

h3 {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 2vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

h3 a {
    color: white;
    font-size: 3vw;
}

h3.storytext {
    font-family: Oswald, sans-serif;
    color: rgba(0, 0, 0, 0.95);
    font-size: 1vw;
    text-shadow: 0 0 0 rgba(0, 0, 0, .95);
}

h3 a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000000;
    font-size: 3vw;
}

h4 {
    margin-top: 10%;
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 2vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

.leaflet-control-zoom {
    position: fixed;
    top: 160px;
    left: 3px;
}

@media screen and (max-width: 575px) {
    .leaflet-control-zoom {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .attribution {
        font-size: 1vw;
    }
    .storymap-story {
        position: absolute ;
        right: 5px;
    }
    .storymap-legend {
        top: 100px;
        left: 100px;
    }
    .attribution {
        font-size: 1vw;
    }
}

@media (max-width: 768px) {
    .attribution {
        font-size: 3vw;
    }
}

@media (max-width: 992px) {
    .leaflet-control-zoom {
        position: relative;
        bottom: 20px;
    }
}

div.figure-title {
    width: 200px;
}

.info {
    width: 420px;
    height: 110px;
    z-index: 1000;
    position: fixed;
    right: 1700px;
    top: 100px;
    padding: 6px 8px;
    font: 14px Oswald, sans-serif;
    text-align: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px #0e201d;
    border-radius: 5px;
}

.update p {
    font-size: 14px;
    margin: 0 0 0;
    color: #000000;
}

.update h2 {
    font-size: 24px;
    margin: 0 0 0;
    color: #000000;
}
.update h2.subtitle {
    font-size: 24px;
    margin: 0 0 0;
    color: #000000;
}

div.storymap-legend {
    width: 260px;
}

.leaflet-control-scale {
    position: fixed;
    left: 100px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

div.modal-content {
    width: 504px;
}

.viewing {
    color: #1c1c1c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 1.0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
}

#nav-title {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 22px;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

h5 {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

.storymap-attribution {
    position: fixed;
    bottom: 0;
    left: 0;
}
